/* Optional, include a web font  */
@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i');

/* The html and body selectors below set the base font for the entire page */
html {font-size: 1rem;}

body {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;

}

/* This adds space between paragraphs and list items
   NOTE: most Navigations use list items so you will need to
   explicity set the margins on those so this rule doesn't
   mess up your navigation styling */
p, li {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Base Styling for headings  */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Lato, sans-serif;
}

/* For each of your headings at minimum set the margin, size, line-height. Adjust font-weight and other properties as needed. */

h1 {
  font-size: 5.063rem;
  line-height: 1;
  margin: 0 0 0.5rem 0;
}

h2 {
  font-size: 3.375em;
  line-height: 1.2;
  margin: 1.5rem 0 0.5rem 0;
}

h3 {
  font-size: 2.25rem;
  line-height: 1;
  margin: 1.5rem 0 0.25rem 0;
}

h4 {
  font-size: 1.5rem;
  line-height: 1;
  margin: 1.5rem 0 0.5rem 0;
}

h5 {
  font-size: 1rem;
  line-height: 1;
  margin: 1.5rem 0 0.5rem 0;

}

h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0 0 0;
  font-weight: 400; /* normal */
  text-transform: uppercase;
}
